---
import Layout from "../../layouts/Layout.astro";
import TwitterIcon from "../../components/TwitterIcon.astro";

import { SITE, SPEAKERS } from "../../config";

export function getStaticPaths() {
  return Object.keys(SPEAKERS).map(speaker => {
    return {
      params: {speaker},
      props: {speaker: SPEAKERS[speaker]}
    };
  });
}

const { speaker } = Astro.props;
const { logo, logoSmall, profile, episodeUrl, profileMobile, nameImage, nameImageSmall, shareImagePath } = speaker;
---
<style>
  section {
    margin: 0 auto;
    max-width: var(--max-width);
    box-sizing: border-box;
    padding-top: 20rem;
  }
  header {
    text-align: center;
  }
  .home:hover {
    text-decoration: none;
  }
  h3 {
    margin: 0;
    color: var(--theme-text);
    text-transform: uppercase;
    font-size: 28rem;
    text-shadow:
      -1px -1px 0 var(--theme-accent),
      1px 2px 0 hsla(267, 12%, 39%, 1);
  }
  .main {
    color: var(--theme-text-lighter);
    font-size: 14rem;
    line-height: 14rem;
  }
  .separator {
    margin: 0 7rem;
    color: var(--theme-text-lighter);
  }
  h1 {
    margin: 0;
    display: inline;
    font-family: var(--font-body);
    font-weight: normal;
    font-size: 14rem;
    line-height: 14rem;
  }
  div.speaker {
    box-sizing: border-box;
    padding: var(--spacing-unit) var(--spacing-unit) calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 2);
    display: flex;
    align-items: center;
  }
  .logo-mobile {
    display: none;
  }
  .content {
    margin-left: calc(var(--spacing-unit) * 1.5);
  }
  h4 {
    margin: 0 0 2rem;
    font-size: 33rem;
    font-weight: bold;
    line-height: 38rem;
    font-family: var(--font-body);
    text-shadow: 3px 1px 0 #000;
  }
  h4 a {
    vertical-align: -2px;
  }
  h4 a :global(svg) {
    width: 24rem;
    height: 24rem;
  }
  .image {
    flex: 0 1 auto;
    min-width: 480px;
  }
  .image img:last-child {
    display: none;
  }
  .content {
    flex: 1 1 auto;
    min-width: 0;
    overflow: hidden;
  }
  .content h2 {
    margin: 64rem 0 0;
    font-family: var(--font-body);
    font-weight: bold;
    font-style: italic;
    font-size: 48rem;
    line-height: 56rem;
    text-transform: uppercase;
  }
  .content p {
    line-height: 1.25;
    color: var(--theme-text-light);
  }
  .content .name {
    display: block;
  }
  .content .name img:last-child {
    display: none;
  }
  .content .button {
    --button-bg: var(--theme-accent);
    --button-hover-bg: hsla(var(--color-base-orange), 50%, 1);
    --button-animate-bg: hsla(var(--color-base-orange), 30%, 1);

    margin-top: 8rem;
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    background: var(--button-bg);
    border: none;
    padding: 16rem 32rem;
    border-radius: 2px;
    cursor: pointer;
  }
  .content .button:not(:disabled):hover {
    background: var(--button-hover-bg);
  }
  .content .button span {
    text-shadow:
      1px 1px 0 hsla(268, 12%, 39%, 1),
      -1px -1px 0 hsla(var(--color-orange), 0.4);
  }
  .content .button span:last-child {
    font-size: 24rem;
    text-transform: uppercase;
    font-family: var(--font-heading);
  }
  .content .button span.material-icons {
    margin-right: 5px;
    font-size: 31rem;
    vertical-align: -6px;
  }

  @media only screen and (max-width: 800px) {
    h3 {
      margin-bottom: 9rem;
      line-height: 1.15;
    }
    div.speaker {
      text-align: center;
      padding: 43rem 0 48rem;
      display: block;
    }
    .logo-mobile {
      display: block;
    }
    .image {
      min-width: auto;
    }
    .image img:first-child {
      display: none;
    }
    .image img:last-child {
      display: block;
    }
    .image img {
      margin-top: 3rem;
      width: 100%;
      height: auto;
    }
    .content {
      margin-left: 0;
      margin-top: -51rem;
      padding: 0 calc(var(--spacing-unit) / 2);
    }
    .content a:first-child {
      display: none;
    }
    .content .name {
      margin-bottom: 10rem;
    }
    .content .name img:first-child {
      display: none;
    }
    .content .name img:last-child {
      margin: 0 auto;
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
    }
    .content h2 {
      font-size: 40rem;
      line-height: 47rem;
    }
    h4 {
      font-size: 24rem;
      line-height: 28rem;
    }
    h4 a {
      margin-left: -3px;
      vertical-align: -3px;
    }
    h4 a :global(svg) {
      width: 19rem;
      height: 19rem;
    }
  }

  @media only screen and (max-width: 600px) {
    .content .button {
      display: block;
      padding: 16rem 0;
    }
    .content .button span:last-child {
      font-size: 20rem;
    }
  }
</style>
<Layout title={`${speaker.name} / ${SITE.title}`} shareImage={shareImagePath}>
  <section>
    <header>
      <a href="/" class="home"><h3>{SITE.title}</h3></a>
      <a href="/#next" class="main">Episodes</a><span class="separator">&bull;</span><h1>{speaker.name}</h1>
    </header>
    <div class="speaker">
      <a class="logo-mobile" target="_blank" href={speaker.link}>
        <img src={logoSmall.src} width={logoSmall.width} height={logoSmall.height} alt={speaker.company} />
      </a>
      <div class="image">
        <img src={profile.src} width={profile.width} height={profile.height} alt={speaker.name} />
        <img src={profileMobile.src} width={profileMobile.width} height={profileMobile.height} alt={speaker.name} />
      </div>
      <div class="content">
        <a target="_blank" href={speaker.link}>
          <img src={logo.src} width={logo.width} height={logo.height} alt={speaker.company} />
        </a>
        <span class="name">
          <img src={nameImage.src} width={nameImage.width} height={nameImage.height} alt={speaker.name} />
          <img src={nameImageSmall.src} alt={speaker.name} />
        </span>
        <h4 style={`color: ${speaker.color}`}>
          <span>{speaker.title}</span>
          <a target="_blank" href={`https://twitter.com/${speaker.twitter}`} style={`color: ${speaker.color}`}>
            <TwitterIcon />
          </a>
        </h4>
        { speaker.talkTitle &&
          <h2>&ldquo;{speaker.talkTitle}&rdquo;</h2>
          <p>{speaker.talkDescription}</p>
        }
        { episodeUrl &&
          <a target="_blank" href={episodeUrl} class="button">
            <span class="material-icons">smart_display</span>
            <span>Watch on YouTube</span>
          </a>
        }
      </div>
    </div>
  </section>
</Layout>