---
import { SITE, SPEAKERS } from "../../config";

import Layout from "../../layouts/Layout.astro";
import TwitterIcon from "../../components/TwitterIcon.astro";

export function getStaticPaths() {
  return Object.keys(SPEAKERS).map(speaker => {
    return {
      params: {speaker},
      props: {speaker: SPEAKERS[speaker]}
    };
  });
}

const { speaker } = Astro.props;
const { logo, logoSmall, profile, nameImage, nameImageSmall, shareImagePath } = speaker;
const homeUrl = new URL("/", Astro.url);
---
<style define:vars={{ speakerColor: speaker.color }}>
  section {
    margin: 0 auto;
    max-width: var(--max-width);
    box-sizing: border-box;
    padding-top: 20rem;
  }
  header {
    text-align: center;
  }
  .home:hover {
    text-decoration: none;
  }
  h3 {
    margin: 0;
    color: var(--theme-text);
    text-transform: uppercase;
    font-size: 28rem;
    text-shadow:
      -1px -1px 0 var(--theme-accent),
      1px 2px 0 hsla(267, 12%, 39%, 1);
  }
  .main {
    color: var(--theme-text-lighter);
    font-size: 14rem;
    line-height: 14rem;
  }
  .separator {
    margin: 0 7rem;
    color: var(--theme-text-lighter);
  }
  h1 {
    margin: 0;
    display: inline;
    font-family: var(--font-body);
    font-weight: normal;
    font-size: 14rem;
    line-height: 14rem;
  }
  div.speaker {
    box-sizing: border-box;
    padding: var(--spacing-unit) calc(var(--spacing-unit) * 2) calc(var(--spacing-unit) * 2);
    display: flex;
    align-items: center;
  }
  .logo-mobile {
    display: none;
  }
  .content {
    margin-left: calc(var(--spacing-unit) * 1.5);
    display: flex;
    flex-direction: column;
  }
  h4 {
    margin: 0 0 2rem;
    font-size: 33rem;
    font-weight: bold;
    line-height: 38rem;
    font-family: var(--font-body);
    color: var(--speakerColor);
    text-shadow: 3px 1px 0 #000;
  }
  h4 a {
    margin-left: -5px;
    vertical-align: -2px;
  }
  h4 a :global(svg) {
    color: var(--speakerColor);
    width: 24rem;
    height: 24rem;
  }
  .content h2 {
    margin: 64rem 0 0;
    font-family: var(--font-body);
    font-weight: bold;
    font-style: italic;
    font-size: 48rem;
    line-height: 56rem;
    text-transform: uppercase;
  }
  .content p {
    line-height: 1.25;
    color: var(--theme-text-light);
  }
  .content .name img:last-child {
    display: none;
  }

  @media only screen and (max-width: 800px) {
    h3 {
      margin-bottom: 9rem;
      line-height: 1.15;
    }
    div.speaker {
      text-align: center;
      padding: 43rem calc(var(--spacing-unit) / 2) 48rem;
      display: block;
    }
    .logo-mobile {
      display: block;
    }
    .image img {
      margin-top: 3rem;
      width: 100%;
      height: auto;
    }
    .content {
      margin-left: 0;
      margin-top: -51rem;
    }
    .content a:first-child {
      display: none;
    }
    .content .name {
      margin-bottom: 10rem;
    }
    .content .name img:first-child {
      display: none;
    }
    .content .name img:last-child {
      margin: 0 auto;
      display: block;
      width: auto;
      max-width: 100%;
      height: auto;
    }
    .content h2 {
      font-size: 40rem;
      line-height: 47rem;
    }
    h4 {
      font-size: 24rem;
      line-height: 28rem;
    }
    h4 a {
      margin-left: -3px;
      vertical-align: -3px;
    }
    h4 a :global(svg) {
      width: 19rem;
      height: 19rem;
    }
  }
</style>
<Layout>
  <title slot="title">{speaker.name} / {SITE.title}</title>
  <meta slot="share" property="og:image" content={shareImagePath}>
  <section>
    <header>
      <a href={homeUrl} class="home"><h3>{SITE.title}</h3></a>
      <a href={homeUrl} class="main">Main</a><span class="separator">&bull;</span><h1>{speaker.name}</h1>
    </header>
    <div class="speaker">
      <a class="logo-mobile" target="_blank" href={speaker.link}>
        <img src={logoSmall.src} width={logoSmall.width} height={logoSmall.height} alt={speaker.company} />
      </a>
      <div class="image">
        <img src={profile.src} width={profile.width} height={profile.height} alt={speaker.name} />
      </div>
      <div class="content">
        <a target="_blank" href={speaker.link}>
          <img src={logo.src} width={logo.width} height={logo.height} alt={speaker.company} />
        </a>
        <a class="name" target="_blank" href={`https://twitter.com/${speaker.twitter}`}>
          <img src={nameImage.src} width={nameImage.width} height={nameImage.height} alt={speaker.name} />
          <img src={nameImageSmall.src} alt={speaker.name} />
        </a>
        <h4>
          <span>{speaker.title}</span>
          <a target="_blank" href={`https://twitter.com/${speaker.twitter}`}>
            <TwitterIcon />
          </a>
        </h4>
        <h2>&ldquo;{speaker.talkTitle}&rdquo;</h2>
        <p>{speaker.talkDescription}</p>
      </div>
    </div>
  </section>
</Layout>