---
import { SPEAKERS, NEXT_SPEAKER } from "../config";
import SpeakerList from "./SpeakerList.astro";
import "material-icons/iconfont/filled.css";

const speakers = Object.keys(SPEAKERS).filter(key => key !== NEXT_SPEAKER.twitter);
---
<style>
  section {
    padding: calc(var(--spacing-unit) * 3.5) var(--spacing-unit);
    box-sizing: border-box;
    margin: 0 auto;
    max-width: var(--max-width);
  }
  h2 {
    margin: 0;
    font-size: 60rem;
    text-transform: uppercase;
    text-shadow: 2px 5px 0 #000;
  }
  #speakers {
    margin-top: 16rem;
  }
  ul {
    width: 100%;
    margin: 0;
    padding: 0;
    display: block;
    list-style: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  }
  ul li {
    margin: 0;
    display: block;
    border-top: 1px solid rgba(255, 255, 255, 0.2);
  }
  ul li a.contact {
    padding: var(--spacing-unit) calc(var(--spacing-unit) / 2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: var(--theme-text-light);
    font-weight: bold;
    font-size: 20rem;
    line-height: 1.3;
  }
  ul li a.contact:hover {
    text-decoration: none;
  }
  ul li a.contact span:last-child {
    margin-left: 10px;
    margin-top: 3px;
    font-size: 34rem;
  }

  @media only screen and (max-width: 800px) {
    section {
      padding: var(--spacing-unit) 0 105rem;
    }
    h2 {
      margin-bottom: 50rem;
      font-size: 55rem;
      line-height: 1;
      text-align: center;
    }
  }
  @media only screen and (max-width: 320px) {
    h2 {
      font-size: 50rem;
    }
  }
</style>
<section id="schedule">
  <h2>Coming up</h2>
  <ul>
    {speakers.map((id, i) => {
      const speaker = SPEAKERS[id];
      const {
        name, title, color, logoMonoSmall, twitter, profileSmall
      } = speaker;

      return (
        <li>
          <SpeakerList
            name={name}
            title={title}
            color={color}
            twitter={twitter}
          >
            <img
              slot="logo"
              src={logoMonoSmall.src}
              width={logoMonoSmall.width}
              height={logoMonoSmall.height}
              alt={speaker.company}
            />
            <img
              slot="image"
              class="profile-image"
              src={profileSmall.src}
              width={profileSmall.width}
              height={profileSmall.height}
              alt={speaker.name}
            />
          </SpeakerList>
        </li>
      );
    })}
    <li>
      <a class="contact" href="mailto:hello@sst.dev?subject=I would like to present">
        <span>Reach out if you want to join the showcase.</span>
        <span class="material-icons">add</span>
      </a>
    </li>
  </ul>
</section>